<app-modal #modal [title]="'Change your password'">
  @if (isLoading()) {
    <app-loading/>
  } @else {
    <form class="d-flex flex-column align-items-center w-100 gap-3" (submit)="changePassword()">

      <!-- Old password -->
      <div class="form-floating w-100">
        <input [formField]="passwordUpdateForm.oldPassword"
               [class.is-invalid]="passwordUpdateForm.oldPassword().dirty() && passwordUpdateForm.oldPassword().invalid()"
               type="password"
               class="form-control"
               id="oldPasswordInput"
               placeholder="Old password">
        <label for="oldPasswordInput">Current password*</label>
        @if (passwordUpdateForm.oldPassword().dirty() && passwordUpdateForm.oldPassword().invalid()) {
          <div class="invalid-feedback">This field is mandatory</div>
        }
      </div>

      <!-- New password -->
      <div class="form-floating w-100">
        <input [formField]="passwordUpdateForm.newPassword"
               [class.is-invalid]="passwordUpdateForm.newPassword().dirty() && passwordUpdateForm.newPassword().invalid()"
               type="password"
               class="form-control"
               id="newPasswordInput"
               placeholder="New password">
        <label for="newPasswordInput">New password*</label>
        @if (passwordUpdateForm.newPassword().dirty() && passwordUpdateForm.newPassword().invalid()) {
          <div class="invalid-feedback">Password requirements:
            <ul>
              <li>At least 6 characters long</li>
              <li>At least one digit between 0 and 9</li>
              <li>At least one uppercase character</li>
              <li>At least one lowercase character</li>
              <li>At least one special character</li>
            </ul>
          </div>
        }
      </div>

      <!-- Confirm new password -->
      <div class="form-floating w-100">
        <input [formField]="passwordUpdateForm.confirmPassword"
               [class.is-invalid]="passwordUpdateForm.confirmPassword().dirty() && passwordUpdateForm.confirmPassword().invalid()"
               type="password"
               class="form-control"
               id="confirmPasswordInput"
               placeholder="Confirm password">
        <label for="confirmPasswordInput">Confirm new password*</label>
        @if (passwordUpdateForm.confirmPassword().dirty() && passwordUpdateForm.confirmPassword().invalid()) {
          <div class="invalid-feedback">Passwords don't match</div>
        }
      </div>

      <button type="submit" [disabled]="passwordUpdateForm().invalid()" class="btn btn-primary px-4 py-2">Save</button>
    </form>
  }
</app-modal>
