@if (isVisible()) {
  <div class="modal d-block z-2">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        @if (title() || closable()) {
          <div class="modal-header pb-0 border-bottom-0">
            <h1 class="modal-title fs-5 fw-bold">{{ title() }}</h1>
            @if (closable()) {
              <button (click)="close()" type="button" class="btn-close"></button>
            }
          </div>
        }
        <div class="modal-body">
          <ng-content/>
        </div>
      </div>
    </div>
  </div>
}
