.fade-gradient {
  background: linear-gradient(to bottom, white 50%, transparent 85%);
  transition-duration: 0.2s;
}

.grid-display {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
